function Util.mod 0
push argument 0
push argument 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
return
label IF_FALSE0
push argument 0
push argument 1
sub
push argument 1
call Util.mod 2
return
function Util.drawSquare 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 2
call Math.multiply 2
push argument 1
push argument 2
call Math.multiply 2
push argument 0
push argument 2
call Math.multiply 2
push argument 2
add
push argument 1
push argument 2
call Math.multiply 2
push argument 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Util.clearSquare 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 0
push argument 2
call Math.multiply 2
push argument 1
push argument 2
call Math.multiply 2
push argument 0
push argument 2
call Math.multiply 2
push argument 2
add
push argument 1
push argument 2
call Math.multiply 2
push argument 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
